APPSIGNAL_APP_ENV=prod
APPSIGNAL_PUSH_API_KEY=
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/skeptic_bot_prod
PHX_HOST=skeptic.bot
POOL_SIZE=10
PORT=4000
REPLICATE_API_TOKEN=
REPLICATE_WEBHOOK_SECRET=
SECRET_KEY_BASE=AhIdQRX1WYEO51l9KrmhwbPQ67kaARInp/AoA9SczSVls6hAIRR3j0zyo+rJd5ee
TIGRIS_ACCESS_KEY_ID=
TIGRIS_BUCKET=skeptic-bot
TIGRIS_SECRET_ACCESS_KEY=
