EMBEDDING_GENERATION_BATCH_SIZE=64
EMBEDDING_GENERATION_DIMENSIONS=384
EMBEDDING_GENERATION_MODEL=thenlper/gte-small
TRANSCRIPTION_BATCH_SIZE=64
TRANSCRIPTION_MODEL=openai/whisper-tiny
TIGRIS_ACCESS_KEY_ID=
TIGRIS_BUCKET=skeptic-bot-dev
TIGRIS_SECRET_ACCESS_KEY=
