EMBEDDING_GENERATION_MODEL=beautyyuyanli/multilingual-e5-large:a06276a89f1a902d5fc225a9ca32b6e8e6292b7f3b136518878da97c458e2bad
PHX_HOST=85d8-146-255-156-54.ngrok-free.app
RAG_GENERATION_MODEL=meta/meta-llama-3-8b-instruct
REPLICATE_API_TOKEN=
REPLICATE_WEBHOOK_SECRET=
TIGRIS_ACCESS_KEY_ID=
TIGRIS_BUCKET=skeptic-bot-dev
TIGRIS_SECRET_ACCESS_KEY=
TRANSCRIPTION_MODEL=vaibhavs10/incredibly-fast-whisper:3ab86df6c8f54c11309d4d1f930ac292bad43ace52d10c80d87eb258b3c9f79c
