EMBEDDING_GENERATION_BATCH_SIZE=64
EMBEDDING_GENERATION_DIMENSIONS=1024
EMBEDDING_GENERATION_MODEL=thenlper/gte-large
TRANSCRIPTION_BATCH_SIZE=64
TRANSCRIPTION_MODEL=openai/whisper-large-v3
TIGRIS_ACCESS_KEY_ID=
TIGRIS_BUCKET=skeptic-bot
TIGRIS_SECRET_ACCESS_KEY=
