@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */

.custom-shadow {
  box-shadow: 5px 5px #81adc8;
}

.remove-outline:focus {
  outline-style: none;
  box-shadow: none;
}

.top-swirl {
  position: absolute;
  top: 2rem;
  left: 0;
}

.illustration {
  position: absolute;
  bottom: 10.5rem;
  left: 4rem;
}

.stars {
  position: absolute;
  bottom: 8rem;
  right: 2rem;
}
