@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500;600;700&display=swap');

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
    opacity: 0.3;
  }
  50% {
    transform: translateY(-6px);
    opacity: 1;
  }
}

.montserrat-alternates-medium {
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 500;
  font-style: normal;
}

.montserrat-alternates-semibold {
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 600;
  font-style: normal;
}

.montserrat-alternates-bold {
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 700;
  font-style: normal;
}

.form-input-shadow {
  box-shadow: 5px 5px #81adc8;
}

.remove-outline:focus {
  outline-style: none;
  box-shadow: none;
}

.divider {
  height: 1px;
  line-height: 1px;
  width: 85%;
  background-color: #4d4d4d;
  margin-top: 20px;
  margin-bottom: 10px;
}

.question-card-shadow {
  box-shadow: 10px 10px #81adc8;
}

.dot-animation {
  animation: bounce 1s infinite ease-in-out;
}

.delay-0 {
  animation-delay: 0s;
}

.delay-200 {
  animation-delay: 0.2s;
}

.delay-400 {
  animation-delay: 0.4s;
}

@media (max-width: 639px) {
  .mobile-scroll-parent {
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
  }

  .mobile-scroll-child {
    scroll-snap-align: start;
    scroll-snap-stop: always;
  }

  .mobile-scroll-parent::-webkit-scrollbar {
    display: none;  /* Chrome, Safari, Opera */
  }
}

@media (min-width: 640px) {
  .mobile-scroll-parent {
    transition: transform 300ms ease-in-out;
  }
}


